* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  img[src*="analytics"] {
    display: block;
    height: 0;
    width: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .material-icons {
    vertical-align: middle;
  }
  
  .ir {
    overflow: hidden;
    text-indent: 100%; // -999999px?
    white-space: nowrap;
  }
  
  .cf:before,
  .cf:after {
    content: " ";
    display: table;
  }
  
  .cf:after {
    clear: both;
  }
  
  .cf {
    *zoom: 1;
  }
  
  p {
      font-family: 'Roboto Slab', sans-serif;
      font-style: normal;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
  }
  
  strong {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: normal;
  }
  